# Dependências
node_modules/

# Variáveis de ambiente
.env

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos do Windows
**/Thumbs.db

# Uploads gerados pelo sistema
backend/uploads/