PORT=5008

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=cafeteria_online

JWT_SECRET=coloque_sua_chave_aqui

ACCESS_TOKEN_SECRET=coloque_sua_chave_aqui
REFRESH_TOKEN_SECRET=coloque_sua_chave_aqui

COOKIE_SECRET=coloque_sua_chave_aqui

EMAIL_USER=coloque_seu_email_aqui
EMAIL_PASS=coloque_sua_senha_de_app_aqui